.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: black;
}

.card {
  width: 280px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
  transition: all 0.3s ease;
  text-align: center; /* Center the text */
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 380px; /* Fixed height for all images */
  object-fit: cover; /* Ensure image aspect ratio is maintained */
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-upload-date {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.card-date-time {
  font-size: 14px;
  color: #555;
}

.card-date,
.card-time {
  margin: 0;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}